{% extends "base.html" %}

{% block title %}Admin Panel{% endblock %}

{% block content %}
<h1>Admin Panel</h1>
<h5>Create Admin User</h5>
<button onclick="window.location.href='/create_admin_user'">Create Admin User</button>

<h5>Room Availability</h5>
<button onclick="window.location.href='/room_availability'">Edit Room Availability</button>

<h5>Edit Prices</h5>
<button onclick="window.location.href='/edit_prices'">Edit Prices</button>

<h5>Reset User Password</h5>
<button onclick="window.location.href='/reset_user_password'">Reset User Password</button>

{% endblock %}