{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<h2>Available Rooms</h2>
{% if rooms %}
    <div class="row">
    {% for room in rooms %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Room {{ room.number }}</h5>
                    <p class="card-text">
                        <strong>Type:</strong> {{ room.type }}<br>
                        <strong>Capacity:</strong> {{ room.capacity }}<br>
                        <strong>Price per Night:</strong> ${{ room.price_per_night }}
                    </p>
                    <form method="POST" action="{{ url_for('routes.book_room', room_id=room.room_id) }}">
                        <input type="hidden" name="check_in_date" value="{{ check_in_date }}">
                        <input type="hidden" name="check_out_date" value="{{ check_out_date }}">
                        <input type="hidden" name="adults" value="{{ adults }}">
                        <input type="hidden" name="children" value="{{ children }}">
                        <input type="hidden" name="needs" value="{{ needs }}">
                        <button type="submit" class="btn btn-primary" action = "{{ url_for('routes.book_room', room_id=room.room_id) }}">Reserve</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No available rooms found.</p>
{% endif %}

{% endblock %}