{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if current_user.is_admin
 %}
    <div class="alert alert-info" role="alert">
        You are logged in as an admin. <a href="{{ url_for('routes.admin_panel') }}" class="alert-link">You may not place any bookings or buy tickets using this account</a>.
    </div>
{% endif %}


<div id = "demo" class = "carousel slide" data-bs-ride="carousel">
  <div class = "carousel-inner">
    <div class = "carousel-item active">
      <img src = "{{ url_for('static', filename='carousel1.png') }}" class = "d-block w-90" alt = "Image 1", style="margin-left: 35%;">
    </div>
    <div class = "carousel-item">
        <img src = "{{ url_for('static', filename='carousel2.png') }}" class = "d-block w-90" alt = "Image 2" style="margin-left: 35%;">
    </div>
    <div class = "carousel-item">
        <img src = "{{ url_for('static', filename='carousel3.png') }}" class = "d-block w-90" alt = "Image 3" style="margin-left: 35%;">
    </div>
    </div>
    <button class = "carousel-control-prev" type = "button" data-bs-target = "#demo" data-bs-slide = "prev">
      <span class = "carousel-control-prev-icon"></span>
    </button>
    <button class = "carousel-control-next" type = "button" data-bs-target ="#demo" data-bs-slide = "next">
        <span class = "carousel-control-next-icon"></span>
    </button>
</div>


<div class="container mt-5">
    <h2>Zoo Ticket Prices</h2>
    <form method="POST" action="/tickets">
        <div class="mb-3">
            <label for="check_in_date" class="form-label">Child Price</label>
            <label for="check_in_date" class="form-label"> £{{ ticket_prices.child_price }}</label>
        </div>
        <div class="mb-3">
            <label for="check_out_date" class="form-label">Adult Price</label>
            <label for="check_out_date" class="form-label"> £{{ ticket_prices.adult_price }}</label>
        </div>
        <div class="mb-3">
            <label for="adults" class="form-label">Senior Price</label>
            <label for="adults" class="form-label"> £{{ ticket_prices.senior_price }}</label>
        </div>
        <button type="submit" class="btn btn-primary">Book Tickets</button>
    </form>
</div>




{% endblock %}