{% extends "base.html" %}

{% block title %}Payment{% endblock %}

{% block content %}





    <div class="container mt-2">

    <div class="card mb-3">
        <div class="card-header">
            <h5 class="mb-0">Ticket Summary</h5>
        </div>
        <div class="card-body">
            <p><strong>Adults:</strong> {{ ticket_details.adults }}</p>
            <p><strong>Children:</strong> {{ ticket_details.children }}</p>
            <p><strong>Seniors:</strong> {{ ticket_details.seniors }}</p>
            <p><strong>Total Price: £</strong> {{ ticket_details.total_price }}</p>
        </div>
    </div>






        <h2>Payment Information</h2>
        <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.full_name.label(class="form-label") }}
            {{ form.full_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.card_number.label(class="form-label") }}
            {{ form.card_number(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.expiry_date.label(class="form-label") }}
            {{ form.expiry_date(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.cvv.label(class="form-label") }}
            {{ form.cvv(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Pay Now</button>
        </form>
    </div>

{% endblock %}